body{
  font-family: "Montserrat";
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Heading */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* seactions */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Navigation Bar */

.navbar {

  padding:0 0  4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size:2.5rem;
  font-weight: 300;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

/* Title */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.iphone_image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.iphone_container {
  position: relative;
}


/* Fratures Seaction */

#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.features-icon {
  color: #ef8172;
  /* padding-top: 60px; */
  margin-bottom: 1rem;
}

.feature-title {
  font-size: 1.5rem;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonial Seaction*/

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
  padding: 100px 8%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to action */

#cta {
  padding: 7% 15% 3%;
}

/* footer */

.social-icon{
  padding: 2% 2%;
}

.social{
  color: #000;
}

.social:hover {
  color: #ff4c68;
}

@media (max-width:991.5px) {

  #title {
    text-align: center;
  }

  .iphone_image {
    position: static;
    width: 50%;
    transform: rotate(0);
  }

  .iphone_container {
    position: static;
  }
}
